.navbar {
  background-color: #205dd7;
  display: flex;
  justify-content: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #ccc;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box; /* Include padding in element's total width */
}

.nav-link:hover {
  background-color: #fff;
  color: #282c34;
  border-radius: 4px;
}
